---
layout: default
---
<!-- This loops through the paginated posts -->
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">    
      
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.content | strip_html | truncatewords:40}}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">더 읽기</a>
    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}">&laquo;</a>
      {% endif %}
      <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a href="/">&raquo;</a>
        {% else %}
          <a href="/page{{paginator.previous_page}}">&raquo;</a>
        {% endif %}
      {% endif %}
    </div>
{% endif %}