---
layout: default
---

<!-- TOC Generator -->
<script src="/js/jquery.toc-1.1.4.min.js"></script>

<script>
  // $('#toc').toc();
$('#toc').toc({exclude: 'h1, h6', autoId: true, numerate: true});
</script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <br>  
    이 글은 {{ page.date | date: "%Y-%m-%d" }}에 작성되었습니다.
  </div>
  
  <br>

  <div>
    <ul class="tags post-tags cf">
      <li><img src="{{ site.baseurl }}/images/icon/price14.png" width="13" /></li>
      {% for tag in page.tags %}
      <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <br>
</article>